.root{
  width: var(--blockWidth);
  min-width: var(--minBlockWidth);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 2rem 20%;
  gap: 2rem;

  .gridItem{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    div[class*=content]{
      font-size: 0.9rem;
    }
  }
}