.root{
  // width: var(--blockWidth);
  // min-width: var(--minBlockWidth);
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  margin: 2rem auto;
  gap: 2rem;

  .gridItem{
    width: 40rem;
    margin: 0;
    padding: 0;
    display: flex;
    div[class*=content]{
      font-size: 0.9rem;
      width: 80%;
      margin: 1rem auto;
    }
  }
}