:root{
  --primary: #1d2d61ff;
  --secondary: #2695dfff;
  --tertiary: #84c1edff;
  --white: #fff;
}
body{
  height: fit-content;
  position: absolute;
  margin: 0;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #222222;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 720px){
  body{
    width: calc(100% - 2rem);
    margin: 0 0 0 2rem;
  }
}
