.root{
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  .logo{
    cursor: pointer;
    height: 3rem;
    margin: 0.5rem;
  }
}

.menuButton{
  display: none;
  background: var(--icon-menu);
  background-color: var(--primary);
  height: 100%;
  width: 4rem;
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 720px){
  .root{
    visibility: visible;
    .menuButton{
      display: block;
    }
  }
}