.root{
  display: flex;
  height: 100%;
  background-color: var(--primary);
  .link{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    padding: 1.5rem;
    &.current {
      background-color: var(--secondary);
    }
  };
  .secondaryMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .link {
      display: flex;
      padding: 0;
      margin: 0;
      height: 1rem;
      font-size: 1rem;
      line-height: 1.2rem;
    }
    .blog {
      &::before{
        content: var(--icon-blog);
        width: 1rem;
        margin: 0 0.2rem 0 0;
      }
    }
    .press {
      &::before{
        content: var(--icon-press);
        width: 1rem;
        margin: 0 0.2rem 0 0;
      }
    }
  }
  .locales {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .link {
      font-size: 0.8rem;
      padding: 0.2rem;
    }
  }
}