.root{
display: flex;
flex-direction: column;
width: 100%;
align-content: center;
justify-content: center;
// display: grid;
// grid-template: "side main" auto /2fr 4fr;
// min-height:100vh;
}

.contents_root{
  // grid-area:side;
  display: flex;
  // flex-direction: column;
  cursor: pointer;
  justify-content: flex-start;
  width: 16rem;
  overflow-x:scroll;
  width: 100%;
  .contents_entry{
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--white);
    width: 20rem;
    height: 6rem;
    background-color: var(--primary);
    border-bottom: 0.3rem solid var(--primary);
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .title{
      font-size: 1rem;
      font-weight: 700;
      line-height: 1rem;
      margin: auto 0;
      padding: 1rem;
      width: 20rem;
      z-index: 10;
    }
    .backgrounder{
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba($color: #1d2d61ff, $alpha: 0.6);
      z-index:5;
    }
    &:hover{
      .backgrounder{
        background-color: rgba($color: #1d2d61ff, $alpha: 0.3);  
      }
    }
    &.picked {
      border-bottom: 0.3rem solid var(--secondary);
      .title{
        background-color: rgba($color: #1d2d61ff, $alpha: 0.5);
      }
      .backgrounder{
        background-color: rgba($color: #1d2d61ff, $alpha: 0.1);  
      }
    }
    .preview {
      display: flex;
      justify-content: center;
      padding: 1rem 0;
      background-color: var(--white);
      width: 7rem;
      overflow-x: hidden;
      img{
        height: auto;
      }
    }
  }
}

.main_root{
  display: grid;
  grid-template: "image caption" auto /50%;
  align-content: center;
  justify-content: center;
  .image{
    padding: 2rem 0 0 0;
    grid-area: image;
    display: flex;
    justify-content: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .text{
    padding: 2rem 0 0 0;
    grid-area: caption;
    min-height: 80vh;
    background-color: var(--primary);
    color: var(--white);
    .title{
      padding: 1rem;
      font-size: 1.1rem;
      font-weight: 700;
    }
    .description{
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .root{
    display: flex;
    flex-direction: column;
    .contents_root{
      display: flex;
      flex-direction: row;
    }
    .main_root{
      display: flex;
      flex-direction: column;
      .image{
        width: 100%;
        height: 10rem;
        background-size: 16rem;
      }
    }
  }
  
}