@import 'src/styles/rem.scss';

.root{
  grid-area: b;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .header, input, label, button{
    margin: 1rem 0 0 0;
  }
  .header{
    font-size: rem(18px);
    margin: rem(25px) 0;
    font-weight: bold;
  }
  input{
    display: block;
    height: rem(48px);
    font-size: 1.2rem;
    text-indent: 0.5rem;
    width: rem(344px);
    background-color: var(--primary-dark);
    color: var(--primary);
    border:none;
    &::placeholder{
      color: var(--secondary)
    }
  };
  label {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    max-width: 16rem;
    input {
      margin: auto 1rem auto 0;
    }
  }
  button {
    margin: 1rem 0;
    // padding: 1rem;
    height: rem(48px);
    background-color: var(--secondary);
    color: var(--tertiary);
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: var(--tertiary);
      color: var(--secondary);
    }
    &:disabled{
      background-color: var(--gray);
    }
  }
  button, input{
    width: rem(344px);
  }
}

@media screen  and (max-width: 720px) {
  .root {
    display: flex;
    flex-direction: column;
    form{
    display: flex;
    flex-direction: column;
  }}
}