@import "src/styles/rem";

.root{
  display: block;
  font-size: rem(18px);
  font-weight: bold;
  line-height: 1.5rem;
  width: rem(1196px);
  margin: rem(56px) auto 0 auto;
  text-align: left;
  color: var(--primary)
}