.root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: var(--tertiary);
  font-size: 1.2rem;
}
.contentblock {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 0;
  text-align: right;
  span{
    display: block;
    font-weight: 400;
    color: var(--white);
    margin: 1rem 0 0 0 ;
  }
}

.mailform {
  grid-column-start: 4;
  grid-column-end: 6;
  padding: 1rem 0 0 0;
}

.phoneIcon{
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--icon-phone);
  background-color: var(--primary);
  border-radius: 1rem;
  cursor: pointer;
}

.phone{
  cursor: pointer;
  line-height: 2rem;
  justify-content: flex-end;
  display: flex !important;
  &:before{
    content: '';
    background-image: var(--icon-phone);
    background-color: var(--primary);
    margin: 0 1rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
  }
}